# Dataset — too large for GitHub
data/UIEB/*0
data/UIEB/All_Results/UWCNN/*0

# Output images
output/

# Python cache
__pycache__/
*.pyc
*.pyo

# Conda/venv environment
uie/
*.egg-info/



# Jupyter notebooks checkpoints
.ipynb_checkpoints/

logs/
